<mat-toolbar class="mainGlobalHeader">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logoName">Proptifi Store</span>
  <span fxFlex></span>
  <button mat-icon-button class="toolbar_btn_group"><mat-icon>favorite</mat-icon></button>
  <button mat-icon-button  class="toolbar_btn_group" (click)="logout()" > <mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>

<div fxLayout="row" fxFlexFill>
  @if (showSideNav) {
    <!-- Side Menu (12%) -->
    <div fxFlex="12" class="sidenav">
      <mat-nav-list>
        @for (item of menuItems; track $index) {
          <a mat-list-item [routerLink]="item.route">
            {{ item.name }}
          </a>
        }
      </mat-nav-list>
    </div>
  }
  <!-- Main Content (88%) -->
  <div [fxFlex]="showSideNav ? '88' : '100'" class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>



